# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
